<header>
    <img src="img/angular.svg" alt="">
    <h1>{{ title }}</h1>                                                                                                <!-- {{}} - шаблонные тэги, все что в них находится воспринимается как выражение. Так как шаблон привязан к компоненту AppComponent title будет ссылаться на свойство title в AppComponent -->
</header>

<main>
    <todo-form (add)="create($event)"></todo-form>                                                                            <!-- Определим событие add, в качестве значения укажем метод create() -->

    <todo-list [todos]="todos"></todo-list>
</main>