<header>
    <img src="img/angular.svg" alt="">
    <h1>{{ title }}</h1>                                                                                                        <!-- {{}} - шаблонные тэги, все что в них находится воспринимается как выражение. Так как шаблон привязан к компоненту AppComponent title будет ссылаться на свойство title в AppComponent -->
</header>

<main>
    <!--<todo-form></todo-form>-->

    <form class="todo-form" (submit)="create($event, titleInput)">                                                  <!-- События оборачиваются в круглый скобки. Чтоб при отправке формы страница не перезагружалась, нужно остановить процесс отправки данных, для этого первым аргументом create() передадим объект $event. Знак $ обязательно указать иначе angular не передаст объект события. -->
        <input type="text" placeholder="Что нужно сделать?" #titleInput>                              <!-- В шаблоне можно получить доступ к любому ДОМ елементу, пометив его как локальную переменную с помощью "#"  -->
        <button type="submit">Добавить</button>
    </form>

    <section class="todo-list" *ngIf="todos.length > 0">                                                                        <!-- ngIf - директива, пользовательский аттрибут, который позволяет добавлять новый функционал, если директива = true, то DOM отображается, есле false, то нет. -->
        <!--<div class="todo-item" *ngFor="let todo of todos" [ngClass]="{ 'completed': todo.completed }">-->                   <!-- [] - означают что директива атрибутная, предназначены для изминения внешнего вида или поведения DOM елементов они не создают и не удаляют дом елементы. ngClass директива с помощью которой в зависимости от условий можно присвоить тот или иной класс. В качестве значения для директивы указывается объект { 'Называние css класса': true/false }  -->
        <div class="todo-item" *ngFor="let todo of todos" [class.completed]="todo.completed">                                   <!-- * значит что директива структурная, т.е. изменяет структуру DOM. todos - свойство todos у компонента, todo - локальная переменная -->

            <button class="checkbox icon" (click)="toggle(todo)">
                <!--<i *ngIf="!todo.completed" class="material-icons">check_box_outline_blank</i>
                <i *ngIf="todo.completed" class="material-icons">check_box</i>-->
                <!--<i class="material-icons" [innerText]="todo.completed ? 'check_box' : 'check_box_outline_blank'"></i>-->
                <i class="material-icons">{{ todo.completed ? 'check_box' : 'check_box_outline_blank' }}</i>
            </button>

            <span class="title">{{ todo.title }}</span>

            <div class="actions">
                <button class="delete icon" (click)="delete(todo)">
                    <i class="material-icons">delete</i>
                </button>
            </div>

        </div>
    </section>
</main>